## 1. book, travel 성향분석 파일 정리

### (1) book, travel 성향분석 파일 불러오기

In [4]:
book = pd.read_csv("C:/Users/Administrator/MachineLearning/Broomies/03_Watson/DATA/book_final_200.csv")
travel = pd.read_csv("C:/Users/Administrator/MachineLearning/Broomies/03_Watson/DATA/watson_travel_final_209.csv")

In [5]:
len(travel)

209

In [6]:
travel[:2]

,index,0,1,2,3,4,5,6,7,8,...,223,224,225,226,227,228,229,230,title,code
0,0,0.8321733149789752,0.6756223611437921,0.9950311402999588,0.009569162457184976,0.944030,0.192706,0.935989,0.998418,0.995102,...,0.0,0.0,1.0,1.0,0.0,1.0,0.5,1.0,요세미티 국립공원 일일투어 (글래시어포인트포함),20018
1,1,0.9581263660882982,0.9426103124830224,0.989686850141032,0.013910569916287864,0.907168,0.803597,0.972000,0.987161,0.995441,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,[A코스 여행이야기]오토캠핑캬라반 1박2일(그랜드캐년.앤탈롭캐년.홀슈밴드+파웰호수),15749

### (2) 52개 컬럼만 쓰기

In [7]:
col = []
for num in range(0, 52):
    col.append(str(num))

In [8]:
travel = travel[col]

In [9]:
travel

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,51
0,0.8321733149789752,0.6756223611437921,0.9950311402999588,0.009569162457184976,0.944030,0.192706,0.935989,0.998418,0.995102,0.786297,...,0.986741,0.388187,0.997784,0.975410,0.122118,0.5,0.510083,0.974187,0.532192,0.161445
1,0.9581263660882982,0.9426103124830224,0.989686850141032,0.013910569916287864,0.907168,0.803597,0.972000,0.987161,0.995441,0.794597,...,0.974206,0.495411,0.995961,0.992802,0.657935,0.5,0.504577,0.952741,0.437704,0.314596
2,0.789994532812386,0.36016849991823763,0.9919907034679548,0.0008883851258243426,0.916073,0.112968,0.983185,0.913355,0.896711,0.845146,...,0.804647,0.126531,0.993467,0.850452,0.385036,0.5,0.689675,0.987317,0.218768,0.779424
3,0.972754574510745,0.8180063054900558,0.9957053654650224,0.00958484830830558,0.945180,0.704702,0.942283,0.991058,0.995432,0.884475,...,0.990530,0.377139,0.990267,0.983828,0.485650,0.5,0.619494,0.944290,0.368624,0.136771
4,0.8542921170532978,0.6384088236992435,0.9984601165511824,0.0018578960104999047,0.917135,0.192883,0.989676,0.990932,0.968857,0.687075,...,0.849074,0.114901,0.981058,0.765190,0.110790,0.5,0.361491,0.994480,0.376611,0.263630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,0.35442185273700233,0.5568620110145741,0.906149760611034,0.012791080041938073,0.820390,0.671716,0.983080,0.943895,0.887099,0.594494,...,0.947736,0.160185,0.727200,0.666101,0.089794,0.5,0.093850,0.968100,0.329007,0.527787
205,0.5539530575793433,0.2580154384411473,0.9668329312733166,0.012050497765937418,0.966645,0.468490,0.976218,0.964273,0.786755,0.710829,...,0.669987,0.035104,0.964624,0.335181,0.075938,0.5,0.478912,0.998285,0.288443,0.504757
206,0.2824051799876305,0.3422395282161751,0.9945256383700078,0.03816208556279288,0.845747,0.064051,0.619875,0.982501,0.979336,0.336808,...,0.810075,0.551634,0.780656,0.835488,0.160095,0.5,0.044094,0.770640,0.243497,0.182744
207,0.7987616617165314,0.20377073477726065,0.9969033893598916,0.01969754607825208,0.998629,0.105157,0.830615,0.928611,0.912735,0.875356,...,0.952747,0.067822,0.973523,0.597322,0.157363,0.5,0.114477,0.820725,0.198651,0.333995
208,0.2787407270146064,0.11227895638103692,0.8297873476693833,0.00018570430563119575,0.917968,0.801220,0.939145,0.988205,0.901914,0.568076,...,0.911350,0.013070,0.951108,0.487457,0.023678,0.5,0.359533,0.997350,0.546425,0.003479

In [10]:
book = book[col]

In [11]:
book[:2]

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,51
0,0.5673234792292786,0.28207205722860085,0.9640027023909424,0.1117476270173114,0.992760,0.755452,0.524805,0.823451,0.955226,0.967888,...,0.633566,0.180567,0.957695,0.256208,0.558156,0.5,0.091848,0.740576,0.138997,0.591903
1,0.4576544618927045,0.3605622385035349,0.9650520376188844,0.003355428790368098,0.933683,0.962186,0.191825,0.867899,0.992879,0.999255,...,0.540352,0.119779,0.922876,0.304477,0.651721,0.5,0.102771,0.163013,0.050289,0.114770

### (3) book, travel 데이터 합치기

In [27]:
bt = pd.concat([book, travel])
len(bt)

409

In [28]:
bt.shape

(409, 52)

## 2. 여행, 책 데이터의 정리 (코드, 타이틀)

### (1) 데이터 불러오기

In [16]:
book_200 = pd.read_csv("C:/Users/Administrator/MachineLearning/Broomies/DATA/Watson/book_200.csv")
travel_209 = pd.read_csv("C:/Users/Administrator/MachineLearning/Broomies/03_Watson/DATA/watson_travel_final_209.csv")

In [17]:
print(len(book_200))
book_200[:2]

200

,category,ISBN,title,corpus,area,company,interest,comment
0,1,9.788957e+12,종의 기원,펴내는 작품마다 압도적인 서사와 폭발적인 이야기의 힘으로 많은 독자들의 뜨거운 사랑...,자연,혼자,Kn,NaN
1,1,9.788936e+12,대도시의 사랑법,2019년 젊은작가상 대상 수상 작가 박상영의 연작소설 『대도시의 사랑법』. 한국문...,도시,허니문,Ex,NaN

In [18]:
print(len(travel_209))
travel_209[:2]

209

,index,0,1,2,3,4,5,6,7,8,...,223,224,225,226,227,228,229,230,title,code
0,0,0.8321733149789752,0.6756223611437921,0.9950311402999588,0.009569162457184976,0.944030,0.192706,0.935989,0.998418,0.995102,...,0.0,0.0,1.0,1.0,0.0,1.0,0.5,1.0,요세미티 국립공원 일일투어 (글래시어포인트포함),20018
1,1,0.9581263660882982,0.9426103124830224,0.989686850141032,0.013910569916287864,0.907168,0.803597,0.972000,0.987161,0.995441,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,[A코스 여행이야기]오토캠핑캬라반 1박2일(그랜드캐년.앤탈롭캐년.홀슈밴드+파웰호수),15749

### (2) book 데이터 ISBN 정리

In [19]:
# book isbn 정리
isbns = []
for i in range(len(book_200)):
    isbn = str(int(book_200['ISBN'][i]))
    isbns.append(isbn)
len(isbns)

200

In [20]:
book_200['code'] = isbns

In [21]:
book_title = book_200[['code', 'title']]

### (3) 책, 여행 데이터에서 code, title만 뽑기

In [22]:
# 책 code, title
print(len(book_title))
book_title[:2]

200

            code     title
0  9788956609959     종의 기원
1  9788936437978  대도시의 사랑법

In [23]:
# 여행 code, title
travel_title = travel_209[['code', 'title']]

In [29]:
print(len(travel_title))
travel_title[:2]

209

    code                                           title
0  20018                      요세미티 국립공원 일일투어 (글래시어포인트포함)
1  15749  [A코스 여행이야기]오토캠핑캬라반 1박2일(그랜드캐년.앤탈롭캐년.홀슈밴드+파웰호수)

### (4) 책, 여행 데이터 합치기

In [79]:
bt_title = pd.concat([book_title, travel_title])

In [80]:
bt_title.reset_index(drop=True, inplace=True)

In [81]:
bt_title['code'] = bt_title['code'].apply(lambda x: str(x))

In [82]:
bt_title[::-1]

              code                                              title
408          64815   [투어] 브루나이 시티 투어 + 수상마을 캄퐁 아에르 투어 (브루나이/반다르스리브가완)
407          37561      [투어] [하노이] 하롱베이당일 티톱섬방문투어(하롱베이-하노이 왕복 고속도로이용)
406          27903  [투어] 다낭 바나힐 체크아웃 단독투어+11시간 내맘대로 차량이용+공항드랍:: 베트...
405          20794                          양곤에서 떠나는 바고(Bago) 문화 개별투어
404          38924                              양곤 근교 : 바고 프라이빗 일일 투어
..             ...                                                ...
4    9788974259686                            놓치고 싶지 않은 나의 꿈 나의 인생. 1
3    9788960517721                                              루틴의 힘
2    9788955824926                                               필링 굿
1    9788936437978                                           대도시의 사랑법
0    9788956609959                                              종의 기원

[409 rows x 2 columns]

### (5) 피클로 저장

In [94]:
import pickle

In [92]:
# bt_title pickle로 저장
with open('bt_title.pickle', 'wb') as f:
    pickle.dump(bt_title, f, pickle.HIGHEST_PROTOCOL)

## 3. 성향분석 데이터에서 오류 데이터 0으로 치환

In [32]:
bt = bt.apply(pd.to_numeric, errors='coerce').fillna(0)

In [33]:
bt.astype({'0': 'float64', '1': 'float', '2': 'float', '3': 'float'}).dtypes

0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
14    float64
15    float64
16    float64
17    float64
18    float64
19    float64
20    float64
21    float64
22    float64
23    float64
24    float64
25    float64
26    float64
27    float64
28    float64
29    float64
30    float64
31    float64
32    float64
33    float64
34    float64
35    float64
36    float64
37    float64
38    float64
39    float64
40    float64
41    float64
42    float64
43    float64
44    float64
45    float64
46    float64
47    float64
48    float64
49    float64
50    float64
51    float64
dtype: object

## 4. 코사인 유사도 메트릭스만들기

### (1) 코사인 유사도 계산 및 메트릭스 만들기

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

co_sim = cosine_similarity(bt, bt)
print(co_sim.shape)
print(co_sim[:2])

(409, 409)
[[1.         0.96589091 0.97047822 0.95303441 0.96732429 0.94180256
  0.92752509 0.95686365 0.96469866 0.93595573 0.95184458 0.94425906
  0.95396161 0.97389046 0.95406189 0.97170101 0.93602632 0.94952244
  0.96775812 0.94490577 0.97404743 0.96389492 0.94629874 0.94710465
  0.96625634 0.95266113 0.96272356 0.93453719 0.96676805 0.93004435
  0.92841634 0.93045427 0.97254442 0.94887557 0.96616878 0.95524651
  0.95443701 0.9369047  0.95738073 0.97307005 0.94398996 0.97042656
  0.92831429 0.96015335 0.95068445 0.95028185 0.95746032 0.96630917
  0.94659598 0.97073335 0.9515253  0.93218231 0.9551136  0.93607333
  0.95484447 0.95123001 0.95217332 0.91045908 0.9188314  0.95229877
  0.97318825 0.94036152 0.95397417 0.93491283 0.91663985 0.89499002
  0.9087005  0.94638456 0.94798479 0.95292202 0.92927381 0.96581154
  0.9670982  0.95451823 0.92329835 0.95707734 0.95656131 0.94523093
  0.95521586 0.95506431 0.93758405 0.94689172 0.97854973 0.9506452
  0.95699108 0.96620627 0.96011122 0.95617381 0.9512358  0.95693261
  0.93981213 0.94066075 0.93088382 0.94268525 0.96540441 0.9294966
  0.95225418 0.9419472  0.95581029 0.95117003 0.94521923 0.9187734
  0.93009521 0.97406416 0.9555104  0.95199581 0.95699848 0.94422928
  0.90442605 0.95200833 0.94623751 0.93396812 0.94221157 0.94250875
  0.95977822 0.91880646 0.964787   0.92509318 0.96219551 0.93800995
  0.9476011  0.94409317 0.9505355  0.94265784 0.94817437 0.97125497
  0.86509383 0.91443916 0.9267104  0.94508764 0.         0.94508044
  0.95888546 0.96480611 0.96169924 0.96223233 0.89127177 0.96637431
  0.94508491 0.94692806 0.96337463 0.93869212 0.94178756 0.9483023
  0.95544193 0.92209586 0.94568676 0.95988807 0.95274773 0.96850684
  0.95760587 0.9578331  0.95866121 0.92330821 0.94139427 0.90874624
  0.93229361 0.95552008 0.98080116 0.94976248 0.95485709 0.96422621
  0.95200932 0.93028951 0.92603649 0.93050012 0.96116829 0.94971275
  0.95550834 0.95050618 0.94746048 0.93370777 0.95079451 0.96182829
  0.93609756 0.96917188 0.95077012 0.         0.9416915  0.91130424
  0.94032869 0.95011738 0.94441585 0.96048847 0.93255714 0.94322239
  0.95064136 0.95751174 0.9372431  0.92211869 0.90207643 0.96099821
  0.95163205 0.92464956 0.96897619 0.93422682 0.93795922 0.97356287
  0.94515956 0.97269627 0.87553    0.90257576 0.90798066 0.90369092
  0.87419933 0.         0.90164833 0.         0.84958687 0.79612776
  0.84985597 0.90175971 0.9114923  0.88712422 0.82117567 0.
  0.90632945 0.88638079 0.85584834 0.         0.87789257 0.
  0.         0.         0.91220125 0.88592415 0.86808769 0.9154006
  0.         0.92286889 0.92615808 0.88641032 0.88551228 0.8667194
  0.         0.         0.86928574 0.867065   0.88682007 0.88964721
  0.94816571 0.9218537  0.87041696 0.92037528 0.90793071 0.92293028
  0.         0.86946802 0.9046445  0.86058125 0.89473872 0.88760227
  0.87535361 0.89080559 0.91716984 0.91348827 0.91459507 0.90913179
  0.85411653 0.         0.80416046 0.78173959 0.88227491 0.8127075
  0.83138872 0.         0.86101166 0.84427925 0.         0.
  0.89715883 0.         0.9186764  0.89245731 0.89186294 0.92627598
  0.88885664 0.91434138 0.8968294  0.90537845 0.90398284 0.86551289
  0.88374505 0.90650588 0.87776552 0.9147239  0.         0.88522713
  0.         0.90134183 0.8637935  0.90441036 0.88181362 0.88968833
  0.86665823 0.89793627 0.86367138 0.89859597 0.90632916 0.89086327
  0.         0.86155988 0.92287449 0.87766026 0.91823065 0.93246217
  0.92420452 0.91024903 0.87902903 0.         0.87103465 0.87017371
  0.83774549 0.87674648 0.         0.         0.         0.88728423
  0.90401796 0.88691636 0.913902   0.89968734 0.92459546 0.8985229
  0.89912473 0.90505189 0.91090974 0.88878498 0.         0.89876563
  0.87811473 0.84992023 0.89908653 0.92223204 0.88837341 0.89847452
  0.         0.         0.91143623 0.         0.         0.
  0.         0.8857179  0.8741524  0.87399074 0.         0.
  0.         0.89992654 0.93716107 0.87974148 0.90969853 0.86594787
  0.         0.89377748 0.92115932 0.         0.90440589 0.90285648
  0.93339225 0.91855148 0.89260976 0.8787119  0.92531566 0.90370464
  0.9131208  0.91536541 0.         0.91316392 0.91447541 0.87584454
  0.8966919  0.91496495 0.         0.86165662 0.92321366 0.85904246
  0.88069364 0.84497567 0.92319607 0.88201782 0.88079089 0.
  0.         0.87775407 0.         0.         0.         0.
  0.         0.91024371 0.         0.         0.88145486 0.
  0.88375687 0.90509975 0.8537794  0.86119416 0.80903726 0.86112664
  0.87593779 0.87245856 0.86717257 0.93404352 0.83273688 0.88771526
  0.88933064]
 [0.96589091 1.         0.97490911 0.9664741  0.95731649 0.95535154
  0.95227333 0.96872182 0.97523809 0.93985842 0.95463914 0.95950771
  0.96046319 0.96144906 0.96906221 0.957559   0.95338016 0.97587018
  0.95893868 0.96603976 0.94388837 0.98158505 0.91276187 0.96077982
  0.97083727 0.97952565 0.97599377 0.95066164 0.97326306 0.94366191
  0.95413305 0.93534711 0.97169287 0.95960294 0.96956831 0.9406994
  0.96891586 0.95202301 0.9681091  0.97051908 0.93828343 0.98511438
  0.95269194 0.96824122 0.96279619 0.95910884 0.95728757 0.98857477
  0.95294635 0.97828396 0.95811222 0.94421784 0.95991006 0.95342246
  0.97254251 0.96657278 0.95225537 0.91264575 0.9378692  0.96988051
  0.9697438  0.92528814 0.97348557 0.92152747 0.92240017 0.92598456
  0.92244404 0.93237524 0.9584229  0.97007093 0.95909279 0.97748876
  0.98258158 0.97513767 0.87707117 0.96722428 0.96837048 0.93985616
  0.95954599 0.95553873 0.96094131 0.96160358 0.98542803 0.95079928
  0.95586909 0.98138848 0.96922508 0.97255457 0.96583514 0.96980518
  0.95750565 0.97349197 0.94659824 0.95481815 0.97728869 0.94860726
  0.96991506 0.94055581 0.96907669 0.93161031 0.96959389 0.93943095
  0.95645215 0.9663959  0.9446442  0.97500671 0.97837795 0.95258137
  0.90488138 0.95615794 0.95749398 0.96713646 0.970242   0.97243471
  0.9635039  0.92947169 0.96670611 0.96180754 0.97006657 0.94387076
  0.95827583 0.97056982 0.97784632 0.9484626  0.93336911 0.96643171
  0.84620472 0.90656082 0.93933201 0.95252541 0.         0.96253324
  0.96717174 0.95033442 0.96272237 0.9802078  0.88945132 0.95741208
  0.96785504 0.95986943 0.97802023 0.96110176 0.95814029 0.97053049
  0.98359576 0.92669222 0.96080733 0.97412182 0.96594893 0.96858744
  0.96362166 0.95637401 0.9606793  0.92673398 0.93267996 0.93662317
  0.92004669 0.95460506 0.95534319 0.9590153  0.95222051 0.9865342
  0.96755873 0.93369286 0.96736114 0.94437102 0.96444252 0.97133399
  0.97755927 0.96391613 0.95860876 0.94710083 0.96097151 0.97198581
  0.96205448 0.97835116 0.96070482 0.         0.96478302 0.94405136
  0.95597715 0.96724964 0.92083705 0.92638913 0.92539443 0.96215975
  0.96501849 0.96769847 0.94045284 0.91111383 0.8988273  0.94573264
  0.95754924 0.95230159 0.96577319 0.95923608 0.95870057 0.9631804
  0.96716922 0.97588043 0.85677875 0.89417349 0.87931938 0.89307867
  0.85046489 0.         0.88731271 0.         0.8350534  0.79585554
  0.85404464 0.89036096 0.9039192  0.8844994  0.82091259 0.
  0.88363187 0.87650967 0.84392059 0.         0.85090067 0.
  0.         0.         0.89765217 0.8742679  0.85801322 0.90256767
  0.         0.89200904 0.88261299 0.87495291 0.8593413  0.86433851
  0.         0.         0.88393497 0.85907932 0.86966792 0.85118337
  0.91376651 0.893384   0.84135281 0.89932582 0.89082619 0.9081735
  0.         0.86670203 0.89915414 0.84233201 0.89291815 0.88283597
  0.85850353 0.86696593 0.91449435 0.89583997 0.91734593 0.89938106
  0.80471641 0.         0.78900576 0.76291929 0.88342501 0.77929235
  0.78781512 0.         0.84194232 0.82024959 0.         0.
  0.88910229 0.         0.87405075 0.87420755 0.89908603 0.90049739
  0.87046944 0.8899713  0.88899211 0.87823831 0.89658011 0.85367591
  0.83431933 0.84882132 0.82815645 0.88612834 0.         0.84020414
  0.         0.89028197 0.82366509 0.89096454 0.86660217 0.86247927
  0.82929804 0.86446228 0.84124436 0.88414892 0.8814494  0.85601333
  0.         0.85587176 0.91512724 0.86665326 0.90993051 0.92362152
  0.90917844 0.91969088 0.87651389 0.         0.8509007  0.86040219
  0.81169342 0.88166933 0.         0.         0.         0.88883125
  0.89283157 0.87011933 0.90349515 0.8896248  0.92260456 0.89807519
  0.884802   0.87857066 0.91141636 0.88981139 0.         0.88295652
  0.84638921 0.82318064 0.87944302 0.91107463 0.8771382  0.87046853
  0.         0.         0.89266898 0.         0.         0.
  0.         0.87388413 0.87141617 0.8335065  0.         0.
  0.         0.88896066 0.90656599 0.85464719 0.89884745 0.85318481
  0.         0.90049343 0.89623874 0.         0.91515249 0.86470528
  0.9149617  0.90099699 0.89389018 0.8683508  0.92770168 0.90089706
  0.90261509 0.91286943 0.         0.89390067 0.90802979 0.88070782
  0.89821201 0.92655933 0.         0.83880841 0.9014235  0.82896732
  0.84471477 0.82018697 0.87096054 0.86223475 0.88038017 0.
  0.         0.88622664 0.         0.         0.         0.
  0.         0.88621624 0.         0.         0.86095461 0.
  0.87874271 0.86608683 0.81960635 0.85659655 0.78377946 0.83841261
  0.84059852 0.86321013 0.84291106 0.8836826  0.81767896 0.86989783
  0.86798802]]

### (2) 유사도 메트릭스를 내림차순으로 정렬

In [35]:
co_sim_sorted = co_sim.argsort()[:, ::-1]
print(co_sim_sorted[:1])

[[  0 158  82 103  20  13 197  60  39 199  32  15 125  49   2  41 175 194
  149  18   4  72  28 137  47  24  85  34   1  71  94 133 116   8 161  21
  140  26 135 118 173 134 166 191 183  43  86 147 114 132 152 151 150 187
   46  38  75 106  84  89   7  76  87  98 157 104 168 144  35  78  52  79
  160  54  73  36  14  62  12   3  69 148  25  59  96  56 162 109 105  10
  192  50  88  55  99 172 176  44  83 186 122 169  45 181 159 167  17  33
  143 124 240  68 120 170  23 139  81  48  67  22 110 146  77 100 198 129
  138 131  19 182  11 107 121  40 185  93 123 113 112  97   5 142 178 154
   91  61 180  90 141 119 196  80 188 350  37 174  53  16   9  63  27 195
  405 111 171 360 184 305 156  51  92 165  31 163 102  29  95  70  30  42
    6 128 275 230 164 364 117 193 322 306 153  74 376 380 245 302 229 333
  189 145 241 356 243  58 115 101 272 361 304 254  64 227 367 373 285 256
  370 127 277 320 255 369 366 224 212 338 179 326  57 307 391 352 257 155
   66 202 244 283 216 298 279 397 325 248 108 291 358 318 280 365 203 359
  201 190 211 206 289 349 321 324 332 329 297 323 335 295 270 278 372  65
  250 355 362 273 274 136 299 253 293 239 408 276 327 334 407 251 317 213
  319 238 231 217 225 343 232 287 396 282 262 381 292 394 382 378 351 308
  363 330 220 284 385 303 313 402 371 200 252 204 344 345 403 310 242 311
  247 236 226 404 237 233 294 353 281 126 290 296 375 301 399 401 266 249
  377 218 258 398 331 210 208 379 267 312 406 264 214 263 400 260 209 261
  374 215 205 386 383 384 395 387 388 389 177 390 392 393 207 368 339 357
  354 265 268 269 271 246 286 288 300 235 309 234 314 315 316 228 328 223
  222 336 337 259 340 341 342 221 346 347 348 219 130]]

### (3) 코사인 메트릭스 피클로 저장하기

In [38]:
with open('co_sim_sorted.pickle', 'wb') as f:
    pickle.dump(co_sim_sorted, f, pickle.HIGHEST_PROTOCOL)

## 5. 책 -> 여행 / 여행 -> 책 반환하는 함수

### (1) 함수

In [87]:
def find_sim_data(df, sorted_ind, code):
    code = df[df['code'] == code]
    code_index = code.index.values
    indexes = sorted_ind[code_index, :]
    #print(code_index)
    #print(indexes)
    
    #책일경우
    if code_index < 200:
        similar_indexes = []
        for idx in indexes[0]:
            # 여행데이터에서 가장 비슷한 것 순으로 정렬
            if idx >= 200:
                similar_indexes.append(idx)
        #print(similar_indexes)
    
    #여행일경우
    else:
        similar_indexes = []
        for idx in indexes[0]:
            # 책데이터에서 가장 비슷한 것 순으로 정렬
            if idx < 200:
                similar_indexes.append(idx)
        #print(similar_indexes)
        
    similar_indexes = np.array(similar_indexes).reshape(-1)
    
    return df.iloc[similar_indexes]

### (2) Case1 : 책('종의 기원') -> 여행

In [93]:
find_sim_data(bt_title, co_sim_sorted, '9788956609959')

      code                                              title
240  46764  [한국인투어] 호빗 마을과 반짝반짝 와이토모 반딧불동굴(단독투어) :: 뉴질랜드/오클랜드
350  72633              [투어] (오픈기념할인) 트빌리시 도보 시티투어 (조지아/트빌리시)
405  20794                          양곤에서 떠나는 바고(Bago) 문화 개별투어
360  26810                           크라쿠프 출발 : 비엘리치카 소금 광산 투어
305  36308  [투어]리스본 아름다운 골목의 로맨틱한 스토리, 로맨틱투어 / 예약시 신트라 또는 ...
..     ...                                                ...
221  43156                      [투어] 상파울로 차량 시티투어 :: 브라질/상파울루
346  54195                   [투어] 드니프로강 서안 집중 투어  (우크라이나/키예프)
347  52198                      [투어] 키예프 테이스티 투어 :: 우크라이나/키예프
348  38145               [투어] 우크라이나 동화마을 피로고보 투어 :: 우크라이나/키예프
219  58695  [투어] 리오 데 자네이로 (페트로 폴리스-full day)-단독투어 (브라질/리오...

[209 rows x 2 columns]

### (3) Case2 : 여행(''양곤에서 떠나는 바고(Bago) 문화 개별투어) -> 책

In [89]:
find_sim_data(bt_title, co_sim_sorted, '20794')

              code                    title
184  9788934995791          대변동: 위기, 선택, 변화
183  9788937460036                       햄릿
64   9788954638890                      페스트
176  9788954654753             체리새우: 비밀글입니다
0    9788956609959                    종의 기원
..             ...                      ...
51   9788972773351        지친 당신에게 고요를 선물합니다
42   9791189581411                      군주론
66   9791164421114  한국사능력검정시험 심화(1,2,3급)(하)
177  9788991759114             데일 카네기 인간관계론
130  9788935703111             리얼리티 트랜서핑. 2

[200 rows x 2 columns]